%h1 Listing grants

%table
  %tr
    %th Amount
    %th Created
    %th Amount
    %th From
    %th To
    %th Start
    %th End
    %th
    %th
    %th

  - @grants.each do |grant|
    %tr
      %td= grant.amount
      %td= grant.created
      %td= grant.amount
      %td= grant.from.name
      %td= grant.to.name
      %td= grant.starts
      %td= grant.ends
      %td= link_to 'Show', grant
      %td= link_to 'Edit', edit_grant_path(grant)
      %td= link_to 'Destroy', grant, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
