%p#notice= notice

%h1
  = @organization.name


%h2 $#{@organization.grants_received_total} in grants recieved
= render @organization.grants_received

%h2 $#{@organization.grants_made_total} in grants given
= render @organization.grants_made
