%p#notice= notice

%p
  %b Name:
  = @organization.name
%p
  %b Description:
  = @organization.description
%p
  %b Type:
  = @organization.type

%h2 Grants made -- total of #{@organization.grants_received_total}
= render @organization.grants_made


= link_to 'Edit', edit_organization_path(@organization)
\|
= link_to 'Back', organizations_path
