%p#notice= notice

%h1
  = @organization.name


%h2 $#{@organization.total_grants_received} in grants recieved
= render @organization.grants_received

%h2 $#{@organization.total_grants_made} in grants given
= render @organization.grants_made
