%p#notice= notice

%p
  %b Name:
  = @organization.name
%p
  %b Description:
  = @organization.description
%p
  %b Type:
  = @organization.type

%h2 Grants rcvd -- total of #{@organization.grants_received_total}
= render @organization.grants_made
